.home {
    min-height: 100vh;
    padding-top: 40vh;
    overflow-x: hidden;
    align-items: center;
    text-align: center;
    background:linear-gradient(
    to right,
    rgba($primary-color, 0.9),
    rgba($primary-color, 0.3)
    ), 
    url("https://icecube-eu-290.icedrive.io/download?p=dBavZUhQDKnMg9bdHMXgDFaV9Zj8NuvotlXtfW.EwGcrercHdH2jSKshjd5BvYJVoUqbRY9._DeemMOuu7yV5qwzwD1kGhe8eDBTKDgScLqAuOxzkrpm7SQNRekCoOKe2wsaMvzMy5AcvAEP1671ZQKb3eSMjBvkqZjEeaFb.Kfm9pfTzXqRRKmtc13tindieGRKUVrq3gFbZIo21KOY.A--") center top;
    background-size:cover;
    background-repeat: no-repeat;

    &__name {
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid #FFF !important;

        &__last {
            color: $secondary-color;
            font-weight: 700;
        }
    }
}